/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.nidifier-button-group-control {
    flex: 1 1 auto;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-4-2);
}